@import "button";

.animalGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  max-width: 90vw;
}

.animalCard {
  font-family: "Krub", sans-serif;
  display: flex;
  flex-direction: column;
  width: 23em;
  border-right: 2px solid #f680c7;
  border-left: 2px solid #f680c7;
  border-bottom: 2px solid #f680c7;
  border-radius: 20px;
  align-items: center;
  padding: 0 1em 1em 1em;
  position: relative;

  .top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 0;
  }

  .animalName {
    font-size: 1.6em;

  }

  .date {
    font-size: 0.8em;

  }

  .animalSpecs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 0.9em;
    line-height: 1.6em;
    gap: 0.5em;
  }

  .readMore-button {
    width: 9em;
    padding: 0.5em;
    margin-top: 1em;
    @include buttons;
  }
  .frame {
    width: 23em;

    .imageMedium {
      width: 23em;
      height: 27em;
      object-fit: cover;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;

    }



  }
}

.separator {
  flex-grow: 1;
}
.bookedStamp {
  position: relative;
}
.bookedStamp::after {
  content: "";
  display: block;
  width: 23em;
  height: 27em;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-image: url('../assets/reserved-pngrepo-com.png');
  background-position: center;
  background-size: 10em 10em;
  background-repeat: no-repeat;
  background-color: rgba($color: #b5b5b5, $alpha: 0.5);

}

.dot {
  height: 5px;
  width: 5px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}