
.animalCard {
    display: flex;
    flex-direction: column;
    width: 25em;
    border-right: 2px solid #F680C7;
    border-left: 2px solid #F680C7;
    border-bottom: 2px solid #F680C7;
    border-radius: 20px;
    align-items: center;
    padding: 0 1em 1em 1em;

    .frame {
        width: 25em;



        .imageMedium {
            width: 25em;
            height: 27em;
            object-fit: cover;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;

        }
    }



}

.separator {
    flex-grow: 1;
}

.animalGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    max-width: 90vw;
}

