@mixin buttons {
    background-color: #F680C7;
    border-radius: 17px;
    border: none;
    box-shadow: -6px 8px 10px 0px rgba(201, 120, 172, 0.75);
    -webkit-box-shadow: -6px 8px 10px 0px rgba(201, 120, 172, 0.75);
    -moz-box-shadow: -6px 8px 10px 0px rgba(201, 120, 172, 0.75);
}