@mixin buttons($color: #f680c7) {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: $color;
  border-radius: 20px;
  border: none;
  color: white;
  box-shadow: -6px 8px 10px 0px rgba(201, 120, 172, 0.75);
  -webkit-box-shadow: -6px 8px 10px 0px rgba(201, 120, 172, 0.75);
  -moz-box-shadow: -6px 8px 10px 0px rgba(201, 120, 172, 0.75);
}
