.outerFilterWrapper {
  display: flex;
  flex-direction: column;
  font-family: Krona One;
  width: 90%;
  padding: 30px;
}

.filterWrapper {
  background-color: #f680c7;
  display: flex;
  justify-content: center;
  font-family: Krona One;
  margin: 4rem;
  border-radius: 22px;
  padding: 22px;

  input {
    height: 30px;
    border-radius: 7px;
    font-size: 16px;
    font-family: Krona One;
  }
}

.searchForms {
  display: flex;
  flex-direction: column;
}

