@import "button";

.blurr-div {
  //display: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  backdrop-filter: blur(3px);
  background-color: rgba($color: #000000, $alpha: 0.5);
}

.form__card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  align-content: flex-start;
  padding-left: 1em;
  padding-right: 1em;
  width: 36em;
  height: 42em;
  background: #ffffff;
  border: 2px solid #f680c7;
  border-radius: 20px;
}

.form__name {
  font-family: "Krub", sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 2em;
  padding-top: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.form {
  font-family: "Krub", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  color: #000000;
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  align-items: stretch;
  width: 30em;
  height: 10em;

  & *> label {
    display: flex;
    align-items: center;
  }
}

.form__input {
  font-size: 0.7em;
  border: none;
  border-bottom: 1px solid black;
  margin: 1em;
}

.info__card__about {
  font-family: "Krub", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.775em;
  color: #000000;
  text-align: left;
  margin-bottom: 1em;
}

.form__close {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.close {
  @include closeButton;
}

.send__btn {
  margin-top: 1.5em;
  width: 15em;
  height: 3em;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  text-align: center;
  font-family: "Krub", sans-serif;
  @include buttons;
}

.send__btn__logo {
  border-radius: 16em;
  width: 30px;
}
