@import "button";

.hero {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;

  .heroImg {
    width: 100%;
    height: 800px;
    object-fit: cover;
    padding: 1em;
    border-radius: 30px;
  }

  .heroTextSection {
    font-family: "Krub", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 36em;
    height: 15.5em;
    position: absolute;
    background-color: rgb(255, 255, 255, .7);
    border-radius: 20px;
    top: 3em;
    left: 3em;
    padding: 1.5em;
    margin: 1.5em;

    .heroText {
      font-family: "Krona One", sans-serif;
      line-height: 1.5em;
      font-size: 28px;
    }
    .btn {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding: 0.5em;
      font-size: 1.5em;
      align-self: flex-end;
      width: 8em;
      height: 2em;
      @include buttons;

      a {
        text-decoration: none;
        color: white;
      }

      .heroLogo {
        border-radius: 16em;
        width: 1.5em;
      }
    }
  }
}
