@import "button";

.hero {
    width: 100vw;
    display: flex;
    justify-content: center;
    position: relative;

    .heroImg {
        border-radius: 20px;
        max-width: 90vw;
    }

    .heroTextSection {
        font-family: 'Krub', sans-serif;
        display: flex;
        flex-direction: column;
        width: 25em;
        height: 15em;
        position: absolute;
        background-color: #ffe1e1;
        border-radius: 20px;
        padding: 1em;
        top: 3em;
        left: 7em;

        .heroText {
            font-size: 24px;
        }
        .btn {
            align-self: flex-end;
            max-width: 10em;
            max-height: 5em;
            @include buttons;
    
            .heroLogo {
                border-radius: 1000px;
                width: 3em;
            }
        }
    }


}