@import "button";

.blurr-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:100vh;
    position: fixed;
    backdrop-filter: blur(3px);
    background-color: rgba($color: #000000, $alpha: 0.5);


    .info__card {
      position: absolute;
        width: 40em;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        font-family: "Krub", sans-serif;
    }
    
}

.info__img {
  width: 40em;
  height: 27em;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}


.info__text {
  background: #ffffff;
  border-right: 2px solid #f680c7;
  border-left: 2px solid #f680c7;
  border-bottom: 2px solid #f680c7;
  border-radius: 0px 0px 22px 22px;

  .largeTop {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;

    .info__name {
      font-size: 2em;
    }
  }



  .largeAnimalSpecs {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      font-size: 1.2em;
      line-height: 1.6em;
      gap: .5em;
      text-align: left;
      padding: 1em;
  }

  .info__card__about {
    font-family: "Krub", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    color: #000000;
    text-align: left;
    margin-top: 30px;
  }
}

// .info__card__specs__one {
//   display: flex;
//   flex-direction: column;
//   align-content: space-around;
//   align-items: flex-start;
//   justify-content: space-between;
//   width: 300px;
//   height: 100px;

//   p {
//     font-family: "Krub", sans-serif;
//     font-style: normal;
//     font-weight: 500;
//     font-size: 22px;
//     color: #000000;
//     margin-right: 40px;
//   }
// }

// .info__card__specs__two {
//   display: flex;
//   flex-direction: column;
//   align-content: space-around;
//   align-items: flex-start;
//   justify-content: space-between;
//   width: 300px;
//   height: 100px;

//   p {
//     font-family: "Krub", sans-serif;
//     font-style: normal;
//     font-weight: 500;
//     font-size: 22px;
//     color: #000000;
//     margin-right: 40px;
//   }
// }

.img__close {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.close {
  position: relative;
  top: 44px;
  right: 10px;
  width: 34px;
  height: 34px;
  border: none;
  border-radius: 50%;
  font-size: 22px;
}

.adopt__btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-top: 18px;
  margin-bottom: 18px;
  width: 216px;
  height: 65px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  font-family: "Krub", sans-serif;
  @include buttons;
}

.adopt__btn__logo {
  border-radius: 300px;
  width: 30px;
}

@media only screen and (min-width: 768px) {
    .info__card {
        max-height: 500px;
    }
}
