
.info__card {
    visibility: hidden;
    position: absolute;
    width: 700px;
    height: 1100px;
     z-index: 100;
    top:50%;
    overflow: hidden;
}

.info__card{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.info__img{
    width: 700px;
    height: 610px;
    border-radius:22px 22px 0px 0px;

}
.info__name{
    font-family: 'Krub', sans-serif;
    font-weight: 900;
    font-size: 96px;
    color: #000000;
    margin-bottom: 20px;
    width: 100%;
}

.info__text{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-content: flex-start;
    width: 700px;
    height: 935px;
    background: #FFFFFF;
    border-right: 2px solid #F680C7;
    border-left: 2px solid #F680C7;
    border-bottom: 2px solid #F680C7;
    border-radius: 0px 0px 22px 22px;

    .info__card__about{
        font-family: 'Krub', sans-serif;font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #000000;
        text-align: left;
        margin-top: 40px;
        padding-left: 20px;
        padding-right: 20px;

     }
}

.info__card__specs__one{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: flex-start;
    justify-content: space-between;
    width: 240px;
    height: 100px;

    p{
        font-family: 'Krub', sans-serif;font-style: normal;
        font-weight: 600;
        font-size: 22px;
        color: #000000;
        margin-right: 40px;
    }
}

.info__card__specs__two{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: flex-start;
    justify-content: space-between;
    width: 240px;
    height: 100px;

    p{
        font-family: 'Krub', sans-serif;font-style: normal;
        font-weight: 600;
        font-size: 22px;
        color: #000000;
        margin-right: 40px;
    }
}